 @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Urbanist', sans-serif;
	}
	body{
		overflow: hidden;
	}
	
	/*Estilos para el encabezado*/
	.header{
		font-family: 'Urbanist', sans-serif;
		width: 100%;
		padding-top: 0;
		padding-left: 0;
		position: fixed;
		top: 0;left: 0;
		z-index: 4;
		background-color: #002156;
 		box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
	}
	.container{
		width: 100%;
		background-color: #001256;
		max-width: 1200px;
		margin: 0px auto;
	}

	.container .menu {
		float: right;
		line-height: 100px;
	}
	
	/*Fin de Estilos para el encabezado*/

	@media (min-width: 320px) and (max-width: 768px){
	/*Menù lateral*/
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}
	.container .btn-menu{
		float: left;
		margin-left: 0px;
		line-height: 80px;
	}
	.container .logo{
		float: left;
	}
	.container .btn-menu label{
		color: #fff;
  		font-size: 25px;
  		cursor: pointer;
  		position: absolute;
  		left: 10px; /* Ajusta la posición desde el borde derecho según tus necesidades */
  		top: 0;
  		bottom: 0;
  		margin: auto;
	}
	#btn-menu{
		display: none;
		z-index: 4;
	}
	.container-menu{
		position: absolute;
		z-index: 4;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background:#002156;
		height: 100vh;
		z-index: 5;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(50%);

	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #031430 ;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
		header{
			height: 40px;
		}
		.container .menu img{
			width: 30px;
			height: 30px;
		}
		.container .btn-menu{
			line-height: 40px;
		}
		.container .menu{
			line-height: 60px;
		}
		.cont-menu .perfil{
			position: absolute;
			color: #ffffff;
			top: 60px;
			left: 80px;
		}
		.container .menu img{
			margin-top: 4px;
			margin-bottom:20px;
		}
	
	}
	/*Fin de Menù lateral*/
	/*MENU LATERAL ESTATICO*/
		@media (min-width: 769px) and (max-width: 2560px){
			#btn-menu{
			visibility: hidden;
		}
		.container .menu img{
			margin-top: 2px;
	}
		.cont-menu .min-menA{
			margin-top: 10%;
		}
		.cont-menu .min-menA a{
			background-color: #03BB85;
			padding: 10px;
			text-align: center;
			width: 80%;
			border-radius: 10px;
			color: #ffffff;
		}
		.cont-menu .min-menA a:hover{
			background-color: #03BB85;
			padding: 10px;
			border-radius: 10px;
			color: #ffffff;
			width: 85%;
		}
		.container .btn-menu label{
			visibility: hidden;
		}
		.cont-menu label{
			visibility: hidden;
		}
		header{
			height: 60px;
		}
		.container .menu img{
			width: 40px;
			height: 40px;
		}
		.cont-menu .perfil {
			
		}
		.perfil i{
			font-size: 250%;
			color: #001256;
		}
		.perfil h4{
			color: #001256;
		}
		.salir{
			margin-top: 140px;
		}
		.container .btn-menu{
			line-height: 5px;
		}
		.container .menu{
			line-height: 5px;
		}
		.cont-menu{
		width: 15%;
		background:#ffffff;
		box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
		margin-top: 42px;
		height: 100vh;
		z-index: 5;
		position: absolute;
		}
			.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #001256;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #f8f8f8;
		background: #F1FCF9 ;
		color: #;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

	}
